PORT = 4000
GEMINI_API_KEY=AIzaSyATN2hQYiCUfRduZTfg

##Pinecone Credentials
PINECONE_API_KEY=pcsk_5zgxGP_4Bbk6JkqgLizKLoLB7eHAu2njBGzGn
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=shb


##Redis URL
REDIS_URL=redis://redis:6379

##PostgreSQL Credentials
DATABASE_URL="postgresql://postgres:username@password:5432/dbname?schema=public"
POSTGRES_USER=username
POSTGRES_PASSWORD=password

##pgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=password